
<div class="profile">
    <img class="image" src="../assets/pic1.jpg" alt="">
    <h1 class="head-name"><i>Sabelo Proffesor Dlangalala</i></h1>
    <div class="line"><p>IT Technician</p></div>
</div>
<div class="clear"></div>
    
<table>
            
   
 
        </table>


  <table >
      
 <tr>
<td class="left">CONTACT<hr><br>
  <p align="left"><img src="https://img.icons8.com/ios-glyphs/30/000000/ringer-volume.png">0848749690<br>
  <img src="https://img.icons8.com/material-outlined/24/000000/gmail.png">sabeloproffesor3@gmail.com
  <br><img src="https://img.icons8.com/material-sharp/24/000000/find-clinic.png">Pimville zone5 1809
  </p>
  </td>
 <td class="right">PROFILE <hr><br>
    <p align="left"> My name Sabelo Proffesor Dlangalala,i am 22 years old   <br>
      I have 10 months experience in IT Technician
     </p>
      </td>
  </tr>
  <tr>
    <td class="left">EDUCATION<hr><br>
   <p align="left"> Mpumelelo High School 2015<br>
    Richfield Graduate of technology 2018
  </p>
 </td>
    <td class="right">EXPERIENCE<hr><br>
    <p align="left">IT Technician at Baragwanath Hospital</p>
  </td>
  </tr>


  <tr>
    <td class="left">SKILLS<hr> <br>
      

      <p>Troubleshooting</p>
      <div class="container">
        <div class="skills Troubleshooting">90%</div>
      </div>
      
      <p>Excellent verbal and good written communication skills</p>
      <div class="container">
        <div class="skills Excellent verbal and good written communication skills">80%</div>
      </div>
      
      <p>Problem-solving skills</p>
      <div class="container">
        <div class="skills Problem-solving skills">65%</div>
      </div>
      
      <p>Microsoft Office</p>
      <div class="container">
        <div class="skills Microsoft Office">80%</div>
      </div>
  </td>
  </tr>

</table>



        
 




